# .NET
[Bb]in/
[Oo]bj/
[Oo]ut/
bin/
obj/
*.user
*.userosscache
*.sln.docstates
*.suo
.vs/

## User Secrets
appsettings.Development.json

node_modules/
dist/
dist-ssr/
build/
.npm/

## Pliki środowiskowe (lokalne)
.env.local
.env.development.local
.env.test.local
.env.production.local

## Logi npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# IDE i OS
# =========================
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.DS_Store
Thumbs.db
